.footer {
  @apply bg-red-800 text-white pt-6 px-4 pb-2 flex flex-col gap-2;
  :global(.ant-collapse-header) {
    align-items: center !important;
    padding: 0 !important;
  }
  :global(.ant-collapse-item) {
    margin-bottom: 20px;
  }
  :global(.ant-collapse-arrow) {
    @apply text-primary text-2xl #{!important};
  }

  .socialIcon {
    @apply w-10 h-10;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(136deg)
      brightness(104%) contrast(101%);
  }
  // img {
  //   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(136deg) brightness(104%) contrast(101%);
  // }
}
