.noticeBanner {
  position: relative;
  .bannerItem {
    height: 100px;
    width: 100vw;
  }
  .logoBanner {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}
